<div>
  <img src="/assets/profile-pic.webp" alt="Headshot of Maxi Ferreira">
  <p>
    Hi, I'm <strong>Jeya Seelan</strong>. I'm a a Security Engineer & Researcher Passionate about Penetration testing, Red teaming, Security Research and Security automation.
    You can follow me on <a href="https://www.linkedin.com/in/jeyaseelans" target="_blank">LinkedIn</a>
    <a href="https://github.com/rootxjs" target="_blank">Github</a>
    <a href="https://x.com/rootxjs" target="_blank">Twitter</a>
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
